* {
    color: rgb(51, 64, 71);
}
.orders {
    top: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.line-1 {
    height: 1px;
    background: black;
    margin-bottom: 20px;
    margin-top: 2px
  }


.order-table td:first-of-type {
    width:25%;
  }
  .order-table {
      position:relative;
  }

/* table, th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
  } */

.test {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.test2 {
    margin-top: 25px;
    width: 500px;
}

.test4 {
    margin-bottom: 10px;
}

.test3 {
    width: 500px;
}

th {
    text-align: center;
    /* background-color: rgb(103, 158, 235);
    color: white */
}

.styled-table thead tr {
    background-color: rgb(103, 158, 235);
    color: #ffffff;
    text-align: left;
}

td {
    text-align: center;
}

  select {
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 7px;
  }

  input[type=text] {
    /* flex: 1 0 auto; */
    transition: width 0.4s ease-in-out;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 7px;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  button {
    padding: 10px 20px;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
}

.styled-table th {
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(51, 64, 71);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: rgb(103, 158, 235);
}

.test6 {
        border: 1px solid rgb(51, 64, 71);
        margin: 0 10px 0 10px;
        padding: 20px 30px 20px 30px;
        border-radius: 30px;
}