.components-table {
  justify-content: center;
  width: 100%;
}

.tablecontents {
  overflow-x: scroll;
  text-align: center;
}

.table {
  width: 50%;
  justify-content: center;
  border-collapse: collapse;
}

.table thead tr {
  background-color: rgb(147, 147, 147);
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

.table th,
.table td {
  padding: 15px 10px;
  border: 1px solid black;
}


.table tbody tr {
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
  transition: background-color 0.5s;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(83, 102, 130);
}
.table tbody tr:hover {
  background-color: rgb(207, 207, 207);
}

.table td:first-of-type {
  width: 25%;
}

.addnewcomponent {
  margin-top: 30px;
}

.componenttitle {
  margin-left: 7px;
  margin-bottom: 10px;
}

.editcomponent {
  transition: transform 0.2s;
}

.editcomponent:hover {
  transform: scale(105%);
}

.formdesign {
  align-items: center;
}

.formcomponent {
  display: flex;
}

.addbutton {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.formcomponent {
  justify-content: center;
  text-align: center;
}

.inputdesign {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.inputdesign1 {
  margin-bottom:10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
}

.addcomponentbutton {
  width: 100%;
  margin-bottom: 10px;
}

.selectdesign {
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.inputeditdesign {
  max-width: 6rem;
}

@media (min-width: 800px) {
.tablecontents {
  display: flex;
  justify-content: center;
}

.componenttitle {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.addnewcomponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcomponent {
  width: 50%;
}
}

/* .components-section {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.components-table {
  width: 1000px;
  justify-content: center;
}

.table {
  width: 1000px;
  justify-content: center;
  font-size: 0.9em;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 5px 5px 10px rgb(215, 215, 215);
  height: 512px;
}

.table thead tr {
  background-color: rgb(147, 147, 147);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 12px 12px 0 0;
  
}

.table th,
.table td {
  padding: 20px 15px;
}

.table tbody tr {
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
  transition: background-color 0.5s;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(83, 102, 130);
}
.table tbody tr:hover {
  background-color: rgb(207, 207, 207);
}


.table thead {
  position: sticky;
  top: 0;
 
}

.ordernow {
  background-color: rgb(221, 94, 94);
}

.outofstock {
  background-color: rgb(228, 220, 108);
}

.editcomponent {
  padding: 5px 90px;
  border-radius: 7px;
  border: transparent;
  background-color: rgb(83, 102, 130);
  color: white;
  font-size: 1rem;
  transition: transform 0.2s;
}

.editcomponent:hover {
  transform: scale(105%);
}

#addnewcomponent {
  width: 1000px;
  align-items: center;
  border-radius: 10px;
  height: 10px;
  position: fixed;
  bottom: 0;
  
}

.table1 {
  bottom: 10px;
  width: 1000px;
  justify-content: center;
  margin-top: 100px;
  font-size: 0.9em;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(215, 215, 215);
}

.table1 thead tr {
  background-color: rgb(147, 147, 147);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 12px 12px 0 0;
}

.table1 th,
.table1 td {
  padding: 20px 15px;
}

.table1 tbody tr {
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
  transition: background-color 0.5s;
}
 */
