.inventoryPage {
  padding: 1rem;
}

@media (min-width: 800px) {
  .inventoryPage {
    margin-top: 50px;
}
}


/* .inventoryPage {
  top: 150px;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
} */
