.onapp {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 130px);
  position: sticky;
  top: 0;
  background: lightgray;
}

.mobile {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#phone {
  width: 50%;
}

.mobiledescription {
  line-height: 1.4rem;
  margin-left: 20px;
  align-items: center;
}

.downloadbutton {
  margin: 0px;
}

#download {
  line-height: 1.4rem;
}

#downloadbutton {
  padding: 5px 5px;
}

@media (min-width: 800px) {
  #phone {
    width: 40%;
  }

  .phone-container {
    display: flex;
    justify-content: center;
  }
}

/* .onapp {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  width: 800px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


#phone {
  height: 550px;
}

#mobiledescription {
  width: 500px;
  font-size: 3rem;
  padding-right: 40px;
  color: rgb(0, 0, 0);
}

#download {
  font-size: 1.4rem;
}
#downloadbutton {
  font-size: 1.4rem;
  padding: 5px 20px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgb(121, 122, 121);
  background-color: rgb(131, 171, 228);
  color: white;
  transition: transform 1s;
}

#downloadbutton:hover {
  transform: scale(105%);
} */
