.hero {
  display: flex;
  height: 98vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  display: inline-flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
}

#herotext {
  width: 900px;
  border-right: solid rgb(255, 255, 255) 5px;
  padding-left: 55px;
}
#herotext h1 {
  justify-content: flex-start;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

#herotext p {
  width: 500px;
  color: white;
  font-size: 1.7rem;
  text-align: left;
}

.nut {
  display: flex;
  height: 350px;
  border-left: 10px white;
}

#your {
  text-decoration: underline;
}
